.home_page {
    /* padding-top: 5em; */
}

h1, h2 {
    text-align: center;
    font-weight: 800;
}

figure {
    display: flex;
    /* margin-top: 1em; */
}
figure img {
    width: 40%;
    min-width: 100px;
    height: auto;
}
figcaption {
    padding: 0 0.3rem;
}
.card {
    border: 1px solid whitesmoke;
    box-shadow: 1px 2px whitesmoke;
}

.book_now_contact a {
    font-weight: 900;
    color: rgb(255, 170, 0);
}

.book_now_contact a:hover {
    color:  rgba(255, 170, 0, 0.8);
}