body {
  margin: 0;
  font-family: 'Roboto',  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 1.125rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%
}

@import './css/header.css';

.layout-cta {
  padding-top: 0;
}

.container {
}
.w-90{
  width: 90%;

}

.item-center{
  margin: 0 auto;
}

/* .pt-16 {
  padding-top: 6em;
} */

:root{
  --primary-color: #FBC103;
  --primary-dark: #000;

}

.primary-color {
  color: #FBC103 !important;
}

.bg-primary {
  background-color: #FBC103;
}

.bg-primary-dark {
  background-color: #000 ;
}
.primary-dark {
  color: #000 ;
}
/* input:invalid {
  border: 1px solid red;
  box-shadow: 1px 1px 4px #fd0303
} */

/* 
input:valid {
  border: 1px solid #98E317;
} */

input:focus, textarea:focus {
  outline: none;
  border-bottom: 2px solid #FBC103;
}

 .field {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin-bottom: 1.5em;
} 

label, input, textarea{
  transition: all 0.2s;
  touch-action: manipulation;
}

input:placeholder-shown + label, textarea:placeholder-shown + label{
  cursor: text;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: -2.125rem 0;
  transform: translate(0, 2.125rem) scale(1.25);
} 

input:not(:placeholder-shown) + label,
input:focus + label,
textarea:not(:placeholder-shown) + label,
textarea:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}


.grid-cta {
  display: block;
  /* grid-template-columns: repeat(4, 25%) ;
  grid-template-rows: repeat(4, 25%); */
}

 .block-center {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
  /* margin: 0 auto; */

} 

@media screen and (min-width: 675px) {

  .grid-cta {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto;
  }

  .container {
    width: 90%;
    max-width: 999px;
    margin: 0 auto;
  }


}

